.u-section-1 .u-sheet-1 {
  min-height: 849px;
}

.u-section-1 .u-image-1 {
  width: 304px;
  height: 264px;
  object-position: 50% 11.5%;
  background-position: 50% 11.5%;
  margin: 32px auto 0 0;
}

.u-section-1 .u-shape-1 {
  width: 265px;
  height: 484px;
  background-image: none;
  margin: -18px 311px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 376px;
  height: 449px;
  background-image: none;
  margin: -558px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 564px;
  min-height: 466px;
  margin: -357px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 41px;
  padding-left: 0;
}

.u-section-1 .u-text-1 {
  margin: 41px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 41px 0 0 -1px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  border-style: solid;
  background-image: none;
  margin: 48px 266px 41px -1px;
  padding: 15px 44px 16px 42px;
}

.u-section-1 .u-image-2 {
  width: 497px;
  height: 685px;
  object-position: 49.36% 0%;
  background-position: 49.36% 0%;
  margin: -730px 40px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 311px;
  min-height: 70px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 20px 0;
}

.u-section-1 .u-line-1 {
  width: 371px;
  transform-origin: right center 0;
  margin: -583px auto 0 286px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-1 .u-image-1 {
    width: 267px;
    height: 276px;
    margin-top: 20px;
  }

  .u-section-1 .u-shape-1 {
    width: 184px;
    height: 284px;
    margin-right: 257px;
  }

  .u-section-1 .u-shape-2 {
    width: 349px;
    height: 341px;
    margin-top: -429px;
  }

  .u-section-1 .u-group-1 {
    width: 499px;
    min-height: 473px;
    margin-top: -178px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 45px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
    margin-right: 219px;
    margin-bottom: 45px;
  }

  .u-section-1 .u-image-2 {
    width: 364px;
    height: 488px;
    margin-top: -737px;
    margin-right: 33px;
  }

  .u-section-1 .u-group-2 {
    width: 325px;
    min-height: 65px;
    margin-top: 42px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: 0;
  }

  .u-section-1 .u-line-1 {
    width: 310px;
    margin-top: -469px;
    margin-bottom: 630px;
    margin-left: 248px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1092px;
  }

  .u-section-1 .u-image-1 {
    width: 247px;
    height: 237px;
  }

  .u-section-1 .u-shape-1 {
    width: 245px;
    height: 211px;
    margin-top: 58px;
    margin-right: 192px;
  }

  .u-section-1 .u-shape-2 {
    width: 267px;
    margin-top: -464px;
  }

  .u-section-1 .u-group-1 {
    min-height: 455px;
    margin-top: 185px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 168px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 358px;
    height: 468px;
    margin-top: -1023px;
    margin-right: 39px;
  }

  .u-section-1 .u-group-2 {
    width: 437px;
    min-height: 84px;
    margin-top: 38px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .u-section-1 .u-line-1 {
    width: 107px;
    transform-origin: left center 0;
    margin-top: -392px;
    margin-bottom: 873px;
    margin-left: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-1 .u-image-1 {
    width: 192px;
  }

  .u-section-1 .u-shape-1 {
    width: 406px;
    height: 228px;
    margin-top: 41px;
    margin-right: 53px;
  }

  .u-section-1 .u-shape-2 {
    width: 250px;
  }

  .u-section-1 .u-group-1 {
    position: relative;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 126px;
  }

  .u-section-1 .u-image-2 {
    width: 273px;
    height: 387px;
    margin-right: 41px;
  }

  .u-section-1 .u-group-2 {
    width: 314px;
    min-height: 60px;
    margin-top: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: 0;
  }

  .u-section-1 .u-line-1 {
    width: 110px;
    margin-top: -418px;
    margin-bottom: 944px;
    margin-left: 132px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1535px;
  }

  .u-section-1 .u-image-1 {
    width: 207px;
    height: 244px;
    margin-top: 37px;
  }

  .u-section-1 .u-shape-1 {
    width: 221px;
    height: 308px;
    margin-top: 135px;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-shape-2 {
    width: 181px;
    height: 364px;
    margin-top: -336px;
  }

  .u-section-1 .u-group-1 {
    min-height: 642px;
    margin-top: 84px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 79px;
  }

  .u-section-1 .u-image-2 {
    width: 272px;
    height: 367px;
    margin-top: -1150px;
    margin-right: 20px;
  }

  .u-section-1 .u-group-2 {
    min-height: 74px;
    margin-top: 56px;
    margin-bottom: 145px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .u-section-1 .u-line-1 {
    width: 140px;
    position: relative;
    margin-left: -30px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 848px;
}

.u-section-2 .u-shape-1 {
  height: 644px;
  background-image: none;
  width: 952px;
  margin: 91px 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 742px;
  height: 557px;
  margin: -670px auto 0 38px;
}

.u-section-2 .u-group-1 {
  width: 470px;
  min-height: 342px;
  margin: -531px 20px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 25px;
}

.u-section-2 .u-text-1 {
  margin: 35px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  margin: 38px auto 35px 0;
}

.u-section-2 .u-image-2 {
  width: 348px;
  height: 306px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: 72px 142px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 882px;
    position: relative;
  }

  .u-section-2 .u-shape-1 {
    height: 600px;
    width: 785px;
    margin-top: 135px;
  }

  .u-section-2 .u-image-1 {
    width: 643px;
    height: 531px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 424px;
    min-height: 303px;
    margin-top: -479px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 21px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    font-size: 3.75rem;
    margin-top: 30px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
  }

  .u-section-2 .u-btn-1 {
    position: relative;
    margin-top: 41px;
    margin-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    width: 324px;
    margin-top: 91px;
    margin-right: 87px;
    margin-bottom: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-2 .u-shape-1 {
    height: 401px;
    width: 601px;
    margin-top: 234px;
  }

  .u-section-2 .u-image-1 {
    width: 493px;
    height: 404px;
    margin-top: -544px;
  }

  .u-section-2 .u-group-1 {
    width: 350px;
    min-height: 288px;
    margin-top: -441px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-right: 36px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 36px;
  }

  .u-section-2 .u-image-2 {
    width: 286px;
    height: 286px;
    margin-top: 69px;
    margin-right: 109px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1146px;
  }

  .u-section-2 .u-shape-1 {
    height: 661px;
    margin-top: 431px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    height: 370px;
    width: 436px;
    margin-top: -729px;
    margin-left: 21px;
  }

  .u-section-2 .u-group-1 {
    min-height: 301px;
    margin-top: -689px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 12px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 69px;
  }

  .u-section-2 .u-image-2 {
    width: 374px;
    height: 319px;
    margin-top: 369px;
    margin-right: 18px;
    margin-bottom: 113px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-2 .u-shape-1 {
    height: 559px;
    margin-top: 540px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 403px;
    width: 300px;
    margin-top: -634px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 342px;
    margin-top: -799px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 7px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 35px;
    margin-right: 6px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 35px;
  }

  .u-section-2 .u-image-2 {
    width: 208px;
    height: 235px;
    margin-top: 406px;
    margin-right: 13px;
    margin-bottom: 25px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 651px;
}

.u-section-3 .u-group-1 {
  min-height: 490px;
  width: 800px;
  margin: 81px auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-3 .u-text-1 {
  margin: 36px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 35px;
}

.u-section-3 .u-link-1 {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2px;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 36px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    min-height: 518px;
    width: 837px;
    margin-top: 67px;
    margin-bottom: 65px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 50px;
    font-size: 3.75rem;
  }

  .u-section-3 .u-link-1 {
    position: relative;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-group-1 {
    min-height: 490px;
    width: 720px;
    margin: 81px 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 36px;
  }

  .u-section-3 .u-link-1 {
    margin-bottom: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-3 .u-group-1 {
    min-height: 649px;
    margin-bottom: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 61px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-3 .u-link-1 {
    margin-top: 20px;
    margin-bottom: 61px;
    margin-left: 82px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1232px;
}

.u-section-4 .u-shape-1 {
  width: 433px;
  height: 609px;
  background-image: none;
  margin: 213px auto 0 0;
}

.u-section-4 .u-shape-2 {
  height: 474px;
  width: 747px;
  background-image: none;
  margin: -553px 0 0 auto;
}

.u-section-4 .u-image-1 {
  width: 428px;
  height: 645px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: -602px auto 0 30px;
}

.u-section-4 .u-group-1 {
  width: 608px;
  min-height: 428px;
  margin: -624px 30px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  margin: 36px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 13px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 36px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 41px auto 45px 0;
}

.u-section-4 .u-image-2 {
  width: 356px;
  height: 458px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: 89px 30px 0 auto;
}

.u-section-4 .u-group-2 {
  width: 683px;
  min-height: 229px;
  margin: -236px auto 0 30px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-4 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1096px;
    position: relative;
  }

  .u-section-4 .u-shape-1 {
    width: 357px;
    height: 564px;
    margin-top: 95px;
  }

  .u-section-4 .u-shape-2 {
    height: 394px;
    width: 616px;
    margin-top: -435px;
  }

  .u-section-4 .u-image-1 {
    width: 353px;
    height: 602px;
    margin-top: -498px;
    margin-left: 25px;
  }

  .u-section-4 .u-group-1 {
    width: 537px;
    min-height: 531px;
    margin-top: -602px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    font-size: 3.75rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-btn-1 {
    position: relative;
    margin-bottom: 55px;
  }

  .u-section-4 .u-image-2 {
    width: 301px;
    height: 396px;
    margin-top: -94px;
    margin-right: 26px;
  }

  .u-section-4 .u-group-2 {
    width: 613px;
    min-height: 287px;
    margin-top: -205px;
    margin-bottom: 61px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-4 {
    position: relative;
  }

  .u-section-4 .u-text-5 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1164px;
  }

  .u-section-4 .u-shape-1 {
    width: 279px;
    height: 597px;
    margin-top: 88px;
  }

  .u-section-4 .u-shape-2 {
    height: 500px;
    width: 472px;
    margin-top: -470px;
  }

  .u-section-4 .u-image-1 {
    width: 279px;
    height: 535px;
    margin-top: -602px;
    margin-left: 19px;
  }

  .u-section-4 .u-group-1 {
    width: 422px;
    min-height: 456px;
    margin-top: -535px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 45px;
  }

  .u-section-4 .u-image-2 {
    width: 269px;
    height: 389px;
    margin-top: 28px;
    margin-right: 13px;
  }

  .u-section-4 .u-group-2 {
    width: 438px;
    min-height: 328px;
    margin-top: -230px;
    margin-bottom: 80px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1920px;
  }

  .u-section-4 .u-shape-1 {
    width: 283px;
    height: 602px;
    margin-top: 677px;
  }

  .u-section-4 .u-shape-2 {
    height: 548px;
    width: 424px;
    margin-top: -627px;
  }

  .u-section-4 .u-image-1 {
    height: 609px;
    width: 424px;
    margin-left: 45px;
  }

  .u-section-4 .u-group-1 {
    min-height: 424px;
    margin-top: -1148px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 40px;
  }

  .u-section-4 .u-image-2 {
    width: 322px;
    height: 498px;
    margin-top: 571px;
    margin-right: 14px;
  }

  .u-section-4 .u-group-2 {
    min-height: 278px;
    margin-top: 0;
    margin-bottom: 90px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 25px;
    margin-bottom: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2071px;
  }

  .u-section-4 .u-shape-1 {
    width: 213px;
    height: 438px;
    margin-top: 741px;
  }

  .u-section-4 .u-shape-2 {
    height: 413px;
    width: 288px;
    margin-top: -471px;
  }

  .u-section-4 .u-image-1 {
    height: 493px;
    width: 299px;
    margin-top: -545px;
    margin-left: 21px;
  }

  .u-section-4 .u-group-1 {
    min-height: 482px;
    margin-top: -974px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 50px;
  }

  .u-section-4 .u-image-2 {
    width: 267px;
    height: 368px;
    margin-top: 581px;
    margin-right: 21px;
  }

  .u-section-4 .u-group-2 {
    min-height: 352px;
    margin-top: 96px;
    margin-bottom: 99px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-4 .u-text-5 {
    margin-bottom: 20px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 964px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 75px auto 90px 0;
}

.u-section-5 .u-image-1 {
  min-height: 799px;
  background-image: url("./images/49098361_011_a.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 541px;
}

.u-section-5 .u-shape-1 {
  width: 416px;
  height: 406px;
  background-image: none;
  margin: 135px 0 0 auto;
}

.u-section-5 .u-image-2 {
  width: 408px;
  height: 481px;
  object-position: 50% 42.93%;
  background-position: 50% 42.93%;
  margin: -541px auto 55px 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 258px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-5 .u-text-1 {
  margin: 10px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-1 {
    width: 343px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
    margin-right: 34px;
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-2 {
    margin-right: 30px;
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2380px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 57px;
    margin-bottom: 83px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 970px;
    background-position: 50% 1.5%;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 908px;
  }

  .u-section-5 .u-shape-1 {
    width: 615px;
    height: 666px;
    margin-top: 242px;
  }

  .u-section-5 .u-image-2 {
    width: 617px;
    height: 754px;
    object-position: 50% 36.04%;
    background-position: 50% 36.04%;
    margin-top: -851px;
    margin-bottom: 97px;
    margin-left: 20px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 362px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 27px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 799px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 541px;
  }

  .u-section-5 .u-shape-1 {
    width: 406px;
    height: 406px;
    margin-top: 135px;
  }

  .u-section-5 .u-image-2 {
    width: 377px;
    height: 465px;
    object-position: 50% 42.93%;
    background-position: 50% 42.93%;
    margin-top: -511px;
    margin-bottom: 46px;
    margin-left: 56px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 258px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    min-height: 658px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 544px;
  }

  .u-section-5 .u-shape-1 {
    width: 283px;
    height: 368px;
    margin-top: 132px;
  }

  .u-section-5 .u-image-2 {
    width: 313px;
    height: 432px;
    object-position: 0% 42.93%;
    background-position: 0% 42.93%;
    margin-top: -500px;
    margin-bottom: 112px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 428px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-top: 45px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 45px;
  }
} .u-section-6 {
  background-image: url("./images/vf.jpg");
  background-position: 100% 100%;
}

.u-section-6 .u-sheet-1 {
  min-height: 584px;
}

.u-section-6 .u-group-1 {
  min-height: 474px;
  width: 800px;
  margin: 55px auto 55px 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-6 .u-text-1 {
  margin: 45px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 35px;
}

.u-section-6 .u-link-1 {
  margin-left: 0;
  margin-right: 521px;
  padding-bottom: 2px;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 45px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-6 .u-group-1 {
    min-height: 426px;
    width: 728px;
    margin-top: 56px;
    margin-bottom: 47px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-link-1 {
    margin-right: 471px;
    position: relative;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    background-position: 77.6% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-6 .u-group-1 {
    min-height: 468px;
    width: 535px;
    margin-top: 52px;
    margin-bottom: 52px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-6 .u-link-1 {
    margin-right: 323px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    background-position: 72.88% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-6 .u-group-1 {
    width: 523px;
    margin-top: 36px;
    margin-bottom: 80px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-6 .u-link-1 {
    margin-right: 308px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-6 .u-group-1 {
    min-height: 426px;
    margin-top: 56px;
    margin-bottom: 47px;
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-link-1 {
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 692px;
}

.u-section-7 .u-shape-1 {
  height: 479px;
  width: 716px;
  background-image: none;
  margin: 132px auto 0 60px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: -541px auto 127px 0;
}

.u-section-7 .u-image-1 {
  min-height: 525px;
  background-image: url("./images/dse.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 525px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 29px;
  padding-right: 17px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  margin: 50px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-image-2 {
  min-height: 525px;
  background-image: url("./images/Untitled16min.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-7 .u-shape-1 {
    height: 383px;
    width: 605px;
    margin-top: 100px;
    margin-left: 46px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -423px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 413px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 413px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    font-size: 2.25rem;
    margin-top: 1px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    font-size: 1.125rem;
  }

  .u-section-7 .u-image-2 {
    min-height: 413px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-7 .u-shape-1 {
    height: 335px;
    width: 452px;
    margin-left: 35px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -375px;
    margin-bottom: 110px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 354px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-7 .u-image-2 {
    min-height: 354px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1878px;
  }

  .u-section-7 .u-shape-1 {
    height: 780px;
    width: 457px;
    margin-top: 624px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -1279px;
    margin-bottom: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 586px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 527px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-image-2 {
    min-height: 582px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-7 .u-shape-1 {
    height: 421px;
    width: 280px;
    margin-top: 105px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -466px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 226px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 280px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-image-2 {
    min-height: 226px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 426px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-layout-cell-1 {
  background-image: none;
  min-height: 426px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 80px;
}

.u-section-8 .u-text-1 {
  margin: 53px 20px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 20px 0 0;
}

.u-section-8 .u-form-1 {
  height: 46px;
  margin: 32px 39px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 492px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 66px;
  }

  .u-section-8 .u-text-1 {
    position: relative;
    font-size: 3rem;
    margin-right: 16px;
  }

  .u-section-8 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-8 .u-form-1 {
    position: relative;
    margin-right: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-top: 58px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 376px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 51px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 34px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-8 .u-form-1 {
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 492px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 38px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 53px;
    margin-right: 9px;
    font-size: 3.75rem;
  }

  .u-section-8 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-8 .u-form-1 {
    margin-right: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 732px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 24px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 75px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-8 .u-form-1 {
    margin-right: 12px;
    margin-bottom: 75px;
  }
}