 .u-section-1 {
  background-image: url("./images/cdbf59a2f165be0f4ab729f1183a7b1d.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 688px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 601px;
  margin: 65px auto 65px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 25px;
  padding-right: 25px;
}

.u-section-1 .u-text-1 {
  position: relative;
  margin: 18px 20px 18px -2px;
}

.u-section-1 .u-text-2 {
  margin-left: -2px;
  margin-right: 2px;
  position: relative;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 228px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-1 {
  width: 160px;
  height: 160px;
  margin: 24px auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 228px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-2 {
  width: 160px;
  height: 160px;
  margin: 24px auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 228px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-3 {
  width: 160px;
  height: 160px;
  margin: 24px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 576px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-1 .u-image-1 {
    width: 150px;
    height: 150px;
    position: relative;
    margin-left: 21px;
  }

  .u-section-1 .u-image-2 {
    width: 150px;
    height: 150px;
    position: relative;
    margin-left: 21px;
  }

  .u-section-1 .u-image-3 {
    width: 150px;
    height: 150px;
    position: relative;
    margin-left: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 441px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 1px;
    margin-left: -1px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -1px;
    margin-right: 1px;
  }

  .u-section-1 .u-image-1 {
    width: 115px;
    height: 115px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-2 {
    width: 115px;
    height: 115px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-3 {
    width: 115px;
    height: 115px;
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 414px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-1 .u-image-1 {
    width: 108px;
    height: 108px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-2 {
    width: 108px;
    height: 108px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-3 {
    width: 108px;
    height: 108px;
    margin-left: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-1 .u-image-1 {
    width: 90px;
    height: 90px;
    margin-left: 8px;
  }

  .u-section-1 .u-image-2 {
    width: 90px;
    height: 90px;
    margin-left: 8px;
  }

  .u-section-1 .u-image-3 {
    width: 90px;
    height: 90px;
    margin-left: 8px;
  }
} .u-section-2 {
  min-height: 892px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  background-image: none;
  min-height: 545px;
}

.u-section-2 .u-group-1 {
  width: 490px;
  min-height: 544px;
  height: auto;
  margin: 1px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-2 .u-shape-1 {
  width: 168px;
  height: 22px;
  margin: 55px auto 0 0;
}

.u-section-2 .u-text-1 {
  position: relative;
  margin: 11px 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  position: relative;
  margin: 20px 20px 0 0;
}

.u-section-2 .u-text-3 {
  position: relative;
  margin: 30px 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-radius: 3px;
  margin: 55px auto 55px 0;
}

.u-section-2 .u-image-1 {
  min-height: 347px;
  background-image: url("./images/303cc945228e0abf2e5346fa70ead61d.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-2 {
  background-image: url("./images/0961d551fa6d181c3ebfb264b8ed557d.jpeg");
  background-position: 50% 50%;
  min-height: 892px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 392px;
    margin-right: 78px;
    height: auto;
  }

  .u-section-2 .u-shape-1 {
    width: 139px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 16px;
  }

  .u-section-2 .u-btn-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 300px;
    margin-right: 59px;
  }

  .u-section-2 .u-shape-1 {
    width: 106px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 281px;
    margin-right: 45px;
  }

  .u-section-2 .u-shape-1 {
    width: 99px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 236px;
    margin-right: 28px;
  }

  .u-section-2 .u-shape-1 {
    width: 84px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 6px;
  }
} .u-section-3 {
  min-height: 905px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  background-image: url("./images/32096509de08faa0606402bb3890611c.jpeg");
  background-position: 50% 50%;
  min-height: 998px;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 545px;
}

.u-section-3 .u-group-1 {
  width: 490px;
  min-height: 544px;
  height: auto;
  margin-top: 1px;
  margin-right: auto;
  margin-left: auto;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-3 .u-shape-1 {
  width: 168px;
  height: 22px;
  margin: 55px auto 0 0;
}

.u-section-3 .u-text-1 {
  margin: 11px 20px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 27px 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-radius: 3px;
  margin: 27px auto 55px 0;
}

.u-section-3 .u-image-2 {
  min-height: 453px;
  background-image: url("./images/be8d1a18294b9a550968e9075fc118c3.jpeg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 404px;
    height: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-3 .u-shape-1 {
    width: 139px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 309px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-3 .u-shape-1 {
    width: 106px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 290px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-3 .u-shape-1 {
    width: 99px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 244px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-3 .u-shape-1 {
    width: 84px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 6px;
  }
} .u-section-4 {
  min-height: 770px;
  background-image: url("./images/296278398178bc73b9a258083bce5578.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 770px;
  background-image: none;
}

.u-section-4 .u-group-1 {
  width: 475px;
  min-height: 580px;
  height: auto;
  margin: 95px 94px 95px auto;
}

.u-section-4 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  margin-top: 20px;
}

.u-section-4 .u-btn-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-4 .u-image-1 {
  background-image: url("./images/c627d62ea734487f829147b9a8f67a63.jpeg");
  min-height: 770px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    width: 392px;
    margin-right: 78px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 300px;
    margin-right: 59px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 281px;
    margin-right: 45px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 236px;
    margin-right: 28px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-5 {
  min-height: 770px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 770px;
}

.u-section-5 .u-group-1 {
  min-height: 538px;
  height: auto;
  width: 353px;
  margin: 116px 0 116px auto;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-5 .u-shape-1 {
  width: 168px;
  height: 22px;
  margin: 55px auto 0 0;
}

.u-section-5 .u-text-1 {
  position: relative;
  margin: 11px 20px 0 0;
}

.u-section-5 .u-text-2 {
  position: relative;
  margin: 27px 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-radius: 3px;
  margin: 38px auto 0 0;
}

.u-section-5 .u-image-1 {
  background-image: url("./images/b0cae8aada76039b4cdc993d2c3e3777.jpeg");
  min-height: 770px;
  background-position: 5.07% 0%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    width: 291px;
    height: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-5 .u-shape-1 {
    width: 139px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 223px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-5 .u-shape-1 {
    width: 106px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 209px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-5 .u-shape-1 {
    width: 99px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 176px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-5 .u-shape-1 {
    width: 84px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 6px;
  }
}.u-section-6 .u-image-1 {
  min-height: 500px;
  background-image: url("./images/0787bad35070ad031ba5e23d014a4870.jpeg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    min-height: 400px;
  }
}